<div class="container p-5">
  <h2>Create Category</h2>

  <form [formGroup]="productForm" (ngSubmit)="submitForm()" class="needs-validation">

    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" class="form-control" formControlName="name">
      <div class="invalid-feedback"
        *ngIf="productForm.controls['name'].invalid && productForm.controls['name'].touched">
        Name is required.
      </div>
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price:</label>
      <input type="number" id="price" class="form-control" formControlName="price">
      <div class="invalid-feedback"
        *ngIf="productForm.controls['price'].invalid && productForm.controls['price'].touched">
        Price is required.
      </div>
    </div>
    <div class="mb-3">

      <label for="categoryIds">Categories</label>
      <ng-select [items]="parentCategories" bindLabel="name" bindValue="id" placeholder="Select a  category"
        formControlName="categoryIds" [multiple]="true">
      </ng-select>
    </div>

    <button type="button" *ngIf="!productId" (click)="submitForm()" class="btn btn-primary"
      [disabled]="productForm.invalid">Create</button>
    <button type="button" *ngIf="productId" (click)="updateProduct()" class="btn btn-primary"
      [disabled]="productForm.invalid">Update</button>
  </form>

</div>